.general-layout{
/ / custom image -fx-background-repeat: stretch;
    -fx-background-size: 2000 1000;
    -fx-background-position: center center;
    /*line-height: 1.6;*/
}
.rules-view {
    -fx-background-image: url("../assets/rulesPic.jpg");
}

.game-view {
    -fx-background-image: url("../assets/gameViewPic.jpg");
}

.main-menu-view {
    -fx-background-image: url("../assets/mainMenuPic.jpg");
}

.author-view {
    -fx-background-image: url("../assets/authorPic.jpg");
}

#fancy-mancy-text {
    /* author text */
    -fx-font: 35px Helvetica;
    -fx-fill: linear-gradient(from 0% 0% to 120% 195%, repeat, royalblue 10%, rosybrown 50%);
    -fx-stroke: Grey;
    -fx-stroke-width: 1;
}